// _07-utilities.demo-and-test.scss
.demo-component {
  background-color: $brand-secondary-color;
  color: $gray-color-06;
}

.header { background-color: chocolate; }
.footer { background-color: hotpink; }
.main { background-color: crimson; }