// _06-components.search-bar.scss

.search-bar {
  max-width: 584px;
  position: relative;
  width: 100%;

  input {
    caret-color: $brand-primary-color-dark;
    color: $gray-color-01;
    font-weight: $ML_FONT_WEIGHT_LIGHT;
    height: 46px;
    margin: 0;
    outline: none;
    padding: $ML_SPACE_INSET_SQUISH_SM;
    padding-right: $ML_SPACE_INSET_HUGE;
    width: 100%;
  }

  &--rounded {
    input {
      border-radius: $ML_BORDER_RADIUS_LG;
      border: $ML_BORDER_ELM_01;
    }
  }

  &--borderless {
    input {
      border-bottom: $ML_BORDER_ELM_02;
      border-left: 0;
      border-radius: $ML_BORDER_RADIUS_NONE;
      border-right: 0;
      border-top: 0;
    }
  }

  .search-bar__btn {
    position: absolute;
    right: $ML_SPACE_INSET_XS;
    top: 50%;
    transform: translateY(-50%);
  }
  button.voice-btn {
    position: absolute;
    right: -$ML_SPACE_INSET_XXL;
    top: 50%;
    transform: translateY(-50%);
    color: $brand-blue-color-02;
  }
}