// _01-settings.variables.scss

  $ML_HEADER_HEIGHT: 64px;
  $ML_FOOTER_HEIGHT: 80px;

  // $spacing-base-size is defined on _01-settings.spacing.scss

  $ML_BORDER_RADIUS_NONE: 0;
  $ML_BORDER_RADIUS_QUARCK: 1px;
  $ML_BORDER_RADIUS_NANO: 2px;
  $ML_BORDER_RADIUS_XM: 4px;
  $ML_BORDER_RADIUS_SM: 8px;
  $ML_BORDER_RADIUS_MD: 16px;
  $ML_BORDER_RADIUS_LG: 24px;
  $ML_BORDER_RADIUS_CIRCULAR: 50%;
  
  $ML_BORDER_ELM_01: 1px solid $gray-color-05;
  $ML_BORDER_ELM_02: 2px solid $brand-primary-color;
  $ML_BORDER_ELM_03: 1px solid $gray-color-06;

  $ML_TRANSITION_ALL_01: all 0.35s ease-out;