// _01-settings.colors.scss

  $brand-primary-color: #ffe600;
  $brand-secondary-color: #2D3377;

  $white-color-full: #FFFFFF;
  $black-color-full: #000000;

  $text-color-01: #333333;
  $text-color-02: #263238;

  $gray-color-01: #333333;
  $gray-color-02: #4F4F4F;
  $gray-color-03: #828282;
  $gray-color-04: #BDBDBD;
  $gray-color-05: #E0E0E0;
  $gray-color-06: #F2F2F2;
  $gray-color-07: #F4F9F9;
