// _02-tools.container.scss

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container,
.container-fluid-only-mobile,
.container-fluid-only-desktop {
  // XXS
  @include media-bkp-up('xxs') {
    width: $container-xxs;
  }
  // XS
  @include media-bkp-up('xs') {
    width: $container-xs;
  }
  // SM
  @include media-bkp-up('sm') {
    width: $container-sm;
  }
  // MD
  @include media-bkp-up('md') {
    width: $container-md;
  }
  // LG
  @include media-bkp-up('lg') {
    width: calc(100% - 80px);
  }
  // XL
  @include media-bkp-up('xl') {
    width: $container-xl;
  }
  // XXL
  @include media-bkp-up('xxl') {
    width: $container-xxl;
  }
}

.container-fluid {
  width: calc(100% - 24px);
}

.container-fluid-only-mobile {
  @include media-bkp-max('lg') {
    width: calc(100% - 24px);
  }
}

.container-fluid-only-desktop {
  @include media-bkp-up('lg') {
    width: calc(100% - 24px);
  }
}
